
@import url('https://fonts.googleapis.com/css?family=Barlow:700');
@import '../../theme/variables.scss';

page-weather-city {

  $color-2 : color($colors, primary, base);
  $color-1 : lighten($color-2, 50%);

  ion-header .toolbar-background,
  ion-footer .toolbar-background {
    background-color  : darken($color-2, 35%);
  }

  a, a:active, a:visited,
  .toolbar-title {
    color           : $color-1;
    text-decoration : none;
  }

  h1 {
    color       : lighten($color-2, 25%);
    font-family : 'Barlow', sans-serif;
    font-size   : 5rem;
    line-height : 5rem;
    padding-top : 5vh; 
    text-align  : center;
  }

  h4 {
    font-size: 2rem;
    text-align: center;
  }

  .content-ios {
    
    background: linear-gradient(to bottom, darken($color-2, 20%) 20%, lighten($color-2, 20%) 80%);

    .spinner {
      text-align  : center;
    }
  
    .back-img {

      $red    : red($color-2);
      $green  : green($color-2);
      $blue   : blue($color-2);

      height    : 25vh;
      position  : absolute;
      width     : 100%;

      .sunny ion-icon {
        animation : sunny 15s infinite linear;
        color     : rgba($red, $green, $blue, .7);
        font-size : 11rem; 
        margin    : 1vh 5vw;
      }
      @keyframes sunny {
        0%   { transform: rotate(0deg) scale(1); }
        20%  { transform: rotate(60deg) scale(.8); }
        40%  { transform: rotate(120deg) scale(1); }
        60%  { transform: rotate(180deg) scale(.8); }
        80%  { transform: rotate(240deg) scale(1); }
        100% { transform: rotate(300deg) scale(.8); }
      }

      .cloudy {

        animation : cloudy 20s infinite linear alternate;
        color     : rgba($red, $green, $blue, .4);

        @keyframes cloudy {
          from { transform: translate(0, 0); }
          to { transform: translate(20vw, 0); }
        }

        ion-icon {

          position  : relative;

          &:nth-child(1) { 
            left: 4vw;
            top: -12vh;
          }

          &:nth-child(2) {
            font-size : 6rem;
            left      : 17vw;
            top       : -6vh;
          }
          
          &:nth-child(3) {
            font-size : 14rem;
            left      : 35vw;
            top       : -6vh;
          }
          
          &:nth-child(4) { 
            left      : -6vw;
            top       : -23vh;
          }

        }

      }

    }
  
    .weather-icon {
  
      height            : 80px;
      margin            : 0 auto;
      width             : 80px;
      background-image  : url('../../assets/img/sprite-weather.png');
  
      &.clear-day            { background-position: -262px -5px; } 
      &.clear-night          { background-position: -505px -5px; }
      &.rain                 { background-position: -739px -10px; } 
      &.snow                 { background-position: -502px -141px; }
      &.sleet                { background-position: -384px -406px; }
      &.wind                 { background-position: -743px -393px; }
      &.fog                  { background-position: -15px 5px; }
      &.cloudy               { background-position: -621px 5px; }
      &.partly-cloudy-day    { background-position: -867px 280px; }
      &.partly-cloudy-night  { background-position: -24px 147px; }
      &.hail                 { background-position: -22px 275px; }
      &.thunderstorm         { background-position: -262px 405px; }
  
    }

  }

}
