page-wheater {

  a, a:active, a:visited {
    color           : #000000;
    text-decoration : none;
  }

  .spinner {

    text-align  : center;
    
    ion-icon {
      animation   : spinner 3s infinite linear;
      font-size   : 8rem;
    }
    @keyframes spinner {
      from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
    }

  }

  .weather-icon {

    height            : 80px;
    margin            : 0 auto;
    width             : 80px;
    background-image  : url('../../assets/img/sprite-weather.png');

    &.clear-day            { background-position: -262px -5px; } 
    &.clear-night          { background-position: -505px -5px; }
    &.rain                 { background-position: -739px -10px; } 
    &.snow                 { background-position: -502px -141px; }
    &.sleet                { background-position: -384px -406px; }
    &.wind                 { background-position: -743px -393px; }
    &.fog                  { background-position: -15px 5px; }
    &.cloudy               { background-position: -621px 5px; }
    &.partly-cloudy-day    { background-position: -867px 280px; }
    &.partly-cloudy-night  { background-position: -24px 147px; }
    &.hail                 { background-position: -22px 275px; }
    &.thunderstorm         { background-position: -262px 405px; }

  }

}
